name: Fetch New Signs

on:
  workflow_dispatch:
    inputs:
      challenge_id:
        description: 'Map Roulette Challenge Identifier'
        required: true
        type: number
      last_processed_date:
        description: 'Last processed data in YY-MM-DD format'
        required: false
        type: string

jobs:
  fetch_new_signs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Run script
      env:
        API_KEY: ${{ secrets.API_KEY }}
      run: |
        echo "Challenge Identifier: ${{ github.event.inputs.challenge_id }} and last processed date: ${{ github.event.inputs.last_processed_date }}"
        CHALLENGE_ID=${{ github.event.inputs.challenge_id }} LAST_PROCESSED_DATE=${{ github.event.inputs.last_processed_date }} python3 code/process_new_signs.py
      shell: sh
